@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overwriting Base  */
@layer base {
  body {
    font-family: var(--font-Philosopher);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Philosopher", sans-serif !important;
  }
}
/* Custom Theme  */
:root {
  --border-color-light: #e5e7eb;
  --border-color-dark: #2e2e2f;
  --facebok-color: 66, 103, 178;
  --x-color: 29, 161, 242;
  --google-color: 15, 157, 88;
  --apple-color: 0, 0, 0;
  --github-color: 52, 52, 52;
}

.logoText {
  font-family: "Philosopher", sans-serif !important;
}

.border-color {
  border-color: var(--border-color-dark);
  [data-theme="lightTheme"] & {
    border-color: var(--border-color-light);
  }
  [data-theme="darkTheme"] & {
    border-color: var(--border-color-dark);
  }
}

.shape-divider-bottom {
  bottom: -1px;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  & svg {
    display: block;
    height: 100px;
    position: relative;
    transform: rotateY(180deg);
    width: calc(100% + 1.3px);
  }
  & .shape-fill {
    fill: #f4fbf4;
  }
  [data-theme="darkTheme"] & .shape-fill {
    fill: #011203;
  }
  [data-theme="darkTheme"] & .shape-fill {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), #e6e6e8;
  }
}

.heroBG {
  background-image: url("/images/bg/whiteBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1.5rem;
  position: relative;
  width: 100%;
  [data-theme="darkTheme"] & {
    background-image: url("/images/bg/darkBG.png");
  }
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  [data-theme="darkTheme"] & {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 10px 15px -3px,
      rgba(255, 255, 255, 0.055) 0px 4px 6px -2px;
    &:hover {
      box-shadow: rgba(255, 255, 255, 0.15) 0px 20px 25px -5px,
        rgba(255, 255, 255, 0.045) 0px 10px 10px -5px;
    }
  }
}

.page-active {
  @apply text-primary font-bold;
}
.logo {
  @apply mb-0 text-2xl font-bold;
}

.btn-custom {
  @apply min-h-10 rounded-3xl w-36 h-10 text-base text-white;
}

.brand {
  &.btn-facebook {
    background-color: rgba(var(--facebok-color), 1);
    border-color: rgba(var(--facebok-color), 1);
  }

  &.btn-x {
    background-color: rgba(var(--x-color), 1);
    border-color: rgba(var(--x-color), 1);
  }

  &.btn-github {
    background-color: rgba(var(--github-color), 1);
    border-color: rgba(var(--github-color), 1);
  }

  &.btn-google {
    background-color: rgba(var(--google-color), 1);
    border-color: rgba(var(--google-color), 1);
  }

  &.btn-apple {
    background-color: rgba(var(--apple-color), 1);
    border-color: rgba(var(--apple-color), 1);
  }

  &:hover {
    opacity: 0.8;
  }
}
